<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c78c6b">  <td>19/05/16 14:18:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PhpAboutTest.launch()[pri:0, instance:com.test.PhpAboutTest@5b275dab]">&gt;&gt;launch</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>19/05/16 14:18:30</td>   <td>4426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PhpAboutTest.testAbout()[pri:0, instance:com.test.PhpAboutTest@5b275dab]">testAbout</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>19/05/16 14:18:30</td>   <td>4617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PhpAboutTest.close()[pri:0, instance:com.test.PhpAboutTest@5b275dab]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
</table>
